# Murder Mystery

![schema](/Users/Toki3Duckie/code/SavvyCoders/Activities/Murder_Mystery/schema_database.png)

## Situation

*A crime has taken place and the detective needs your help. The detective gave you the crime scene report, but you somehow lost it. You vaguely remember that the crime was a ​murder​ that occurred sometime on ​Jan.15, 2018​ and that it took place in ​SQL City​. Start by retrieving the corresponding crime scene report from the police department’s database.*

# Clues

```
SELECT	*
FROM sqlite_master
```

```
SELECT	*
FROM crime_scene_report
WHERE type = 'murder' AND city = 'SQL City'
```

- three murders are listed for SQL City.
- one matches your desired date, January 15, 2018
- date key is 20180115
- 2 witnesses

*Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave".*

```
SELECT	*
FROM person
WHERE address_street_name = 'Northwestern Dr'
ORDER by address_number DESC
```

- Morty Schapiro, id 14887, license_id 118009, address_number 4919

```
SELECT	*
FROM person
WHERE address_street_name = 'Franklin Ave'
Order by name ASC	
```

- Annabel Miller, id 16371, license_id 490173, address_number 103

```
SELECT	*
FROM interview
WHERE person_id = '14887'
```

- Morty Schapiro, id 1488, transcript
- I heard a gunshot and then saw a man run out. He had a "Get Fit Now Gym" bag. The membership number on the bag started with "48Z". Only gold members have those bags. The man got into a car with a plate that included "H42W".

```
SELECT	*
FROM interview
WHERE person_id = '16371'
```

- Annabel Miller, id 16371, transcript
- I saw the murder happen, and I recognized the killer from my gym when I was working out last week on January the 9th.

## Clues, continued

- we now know the killer works out at "Get Fit Now Gym"
- we now know they are male
- We know three letters of their membership '48Z'
- We know they are a gold member
- We know the license plate included 'H42W'
- We know they were at the gym on January 9th

## Clues - Searching for potential suspects at the gym

```
SELECT	*
FROM get_fit_now_member
```

```
SELECT	*
FROM get_fit_now_member
WHERE membership_status = 'gold' AND id LIKE '48Z%'
```

- This results gives us two potential suspects
<pre>
- id	person_id	name	    membership_start_date	membership_status
- 48Z7A	28819	    Joe Germuska	20160305	        gold
- 48Z55	67318	    Jeremy Bowers	20160101	        gold
</pre>

```
SELECT	*
FROM get_fit_now_check_in
```

- Let us assess if they were checked in on January 9th

```
SELECT	*
FROM get_fit_now_check_in
where membership_id = '48Z7A'
```
```
SELECT	*
FROM get_fit_now_check_in
where membership_id = '48Z55'
```

- 48Z7A, Joe Germuska, checkin  20180109, 1600 - 1730
- 48Z55, Jeremy Bowers, checkin 20180109, 1530 - 1700

## Clues - Both are viable suspects

- Let us check that license plate and their interviews

```
SELECT	*
FROM drivers_license
```

```
SELECT	*
FROM drivers_license
WHERE plate_number LIKE '%H42W%'
```

- this gives us three suspects
<pre>
- id	age	height	eye_color	hair_color	gender	plate_number	car_make	car_model
- 183779	21	65	blue	blonde	female	H42W0X	Toyota	Prius
- 423327	30	70	brown	brown	male	0H42W2	Chevrolet	Spark LS
- 664760	21	71	black	black	male	4H42WR	Nissan	Altima
</pre>

-  the first cannot be the murderer, but they could be the getaway driver
- back to interviews

```
SELECT	*
FROM interview
WHERE person_id = '######'
```


- 183779, no interview
- whoops id in the drivers_license table is not the reference id, but their license id
- going back to person table to get their actual ids that are used in the interview table

```
SELECT	*
FROM person
WHERE license_id = '######'
```

- alright results
- Maxine Whitely, 78193
- Jeremy Bowers, 67318
- Tushar Chandra, 51739
- Ok Jeremy your license matches and you were there that day

**Interview from Jeremy Bowers**

*I was hired by a woman with a lot of money. I don't know her name but I know she's around 5'5" (65") or 5'7" (67"). She has red hair and she drives a Tesla Model S. I know that she attended the SQL Symphony Concert 3 times in December 2017.*

## Clues - the story thickens

- There is a true villian, must sus them out!

```
SELECT	*
FROM drivers_license
WHERE car_make = 'Tesla' AND car_model = 'Model S' AND gender = 'female' AND hair_color = 'red'
```
- this gives us three suspects
<pre>
- id	age	height	eye_color	hair_color	gender	plate_number	car_make	car_model
- 202298	68	66	green	red	female	500123	Tesla	Model S
- 291182	65	66	blue	red	female	08CM64	Tesla	Model S
- 918773	48	65	black	red	female	917UU3	Tesla	Model S
</pre>

```
SELECT	*
FROM person
WHERE license_id = '######'
```

- 202298, 99716	Miranda Priestly
- 291182, 90700	Regina George
- 918773, 78881	Red Korb


For Miranda
<pre>
- person_id	event_id	event_name	date
- 99716	1143	SQL Symphony Concert	20171206
- 99716	1143	SQL Symphony Concert	20171212
- 99716	1143	SQL Symphony Concert	20171229
</pre>

For Regina
- did not attend any

For Red
- did not attend any

```


Full information on Miranda Priestly
<pre>
- id	name	license_id	address_number	address_street_name	ssn
- 99716	Miranda Priestly	202298	1883	Golden Ave	        987756388 
</pre>


```
SELECT	*
FROM income
where ssn = '987756388'
```
Rich lady!
Suspect found!